/* Header */

body page .text header {
    margin: 0;
    padding: 0;
    width: calc(100% - var(--navbar-width));
    height: fit-content;
    background-color: var(--color-background);
    position: fixed;
    z-index: 99;

    display: flex;
    align-items: start;
    justify-content: center;
}

body page .text header input {
    border-radius: 1em;
    padding: 0.5em 1.5em;
    font-size: 1em;
    font-weight: bold;
    color: var(--color-text-default);
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-in-out;
}

body page .text header input:focus {
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-in-out;
}

body page .text header .header {
    margin: 0;
    padding: 1.5em 0.5em;
    width: 90%;
    border-bottom: outset .5px rgba(0, 0, 0, 0.5);
    background-color: var(--color-background);
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}