
/* Global variables */
:root {
    --font-system: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --color-black: #000;
    --color-off-black: #1f1f1f;
    --color-white: #fff;
    --color-off-white: #f5f5f5;

    --cards-width: 80%;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
        --color-background: #f5f5f5;
        --color-background-overlay: #79cdd6;

        --color-button-save: #004225;
        --color-button-save-hover: #00572e;

        --color-text-default: #000;
        --color-text-red: rgb(255, 59, 48);
        --color-text-orange: rgb(255, 149, 0);
        --color-text-yellow: rgb(255, 204, 0);
        --color-text-green: (52, 199, 89);
        --color-text-blue: rgb(0, 122, 255);
        --color-text-indigo: rgb(88, 86, 214);
        --color-text-purple: rgb(175, 82, 222);
        --color-text-pink: rgb(255, 45, 85);
        --color-text-brown: rgb(162, 132, 94);
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #1f1f1f;
        --color-background-overlay: #0f666f;

        --color-button-save: #00c771;
        --color-button-save-hover: #10f188;

        --color-text-default: #f5f5f5;
        --color-text-red: rgb(255, 69, 58);
        --color-text-orange: rgb(255, 159, 10);
        --color-text-yellow: rgb(255, 214, 10);
        --color-text-green: rgb(48, 209, 88);
        --color-text-blue: rgb(10, 132, 255);
        --color-text-indigo: rgb(94, 92, 230);
        --color-text-purple: rgb(191, 90, 242);
        --color-text-pink: rgb(255, 55, 95);
        --color-text-brown: rgb(172, 142, 104);
    }
}

/* Global styles */
html {
    font-family: var(--font-system);
    font-size: 16px;
    color: var(--color-text-default);
    background-color: var(--color-background);
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-text-blue);
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    cursor: pointer;
}

input {
    border: none;
    border-radius: 1em;
    outline: none;
    padding: 0.5em 1.5em;
    font-size: 1em;
    font-weight: bold;
    color: var(--color-text-default);
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-in-out;
}

input:focus {
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-in-out;
}

textarea {
    border: none;
    outline: none;
    resize: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
}

/* Body */

body {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
}

/* Sidebar */

body sidebar {
    margin: 0;
    padding: 0 1em;
    position: relative;
    top: 0;
    left: 0;
    min-width: max-content;
    max-width: 300px;
    width: 15%;
    height: 100vh;
    filter: contrast(100%) brightness(150%);
    background: linear-gradient(20deg, rgb(33, 15, 111), rgba(81,40,243,0.72)),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2.9' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    z-index: 100;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

body sidebar h1 {
    color: var(--color-text-default);
    margin: 0.5em 0.5em 1em 0.5em;
    padding: 0;
}

body sidebar nav {
    margin: 0;
    padding: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

body sidebar nav button {
    margin: 1em 0;
    padding: 1em 1em;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.15);
    color: var(--color-text-default);
    font-size: 1em;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
}

body sidebar nav button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.1s ease-in-out;
}

body sidebar .footer {
    margin: 2em 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

body sidebar .footer p {
    margin: 0;
    padding: 0;
    font-size: 0.75em;
}

/* Content */


body page {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

body page .text {
    margin: 0;
    padding: 0;
    width: 90%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

body page .text header {
    margin: 0;
    padding: 1.5em 0;
    width: 100%;
    border-bottom: outset .5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

body page footer {
    position: relative;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 3.8125em;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
}

body page footer .save {
    visibility: hidden;
    margin: 0;
    padding: 0 8px 0 1.25em;
    width: 95%;
    max-width: 50em;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

body page footer .save.active {
    visibility: visible;
}

body page footer .save .buttons {
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: end;
}

body page footer .save .buttons button#save {
    margin: 0;
    padding: 0.5em 1em;
    background-color: var(--color-button-save);
    color: var(--color-text-default);
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}

body page footer .save .buttons button#save:hover {
    background-color: var(--color-button-save-hover);
}

body page footer .save .buttons button#cancel {
    margin: 0 1em 0 0;
    padding: 0.5em 1em;
    background-color: transparent;
    color: var(--color-text-default);
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 0.85em;

    display: flex;
    align-items: center;
    justify-content: center;
}

body page footer .save .buttons button#cancel:hover {
    text-decoration: underline;
}

/* Folders Page */

body page .text content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100vh - 9em); /* TODO */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

body page .text content .elements {
    margin: 0;
    padding: 3em 0 0 0;
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

body page .text content .elements .element {
    margin: 0 0 2em 0;
    padding: 0;
    width: var(--cards-width);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

body page .text content .elements .element .time {
    margin: 0;
    padding: 2em 0;
    width: 6em;
    text-align: center;
    color: var(--color-text-default);
    border-right: inset 1px rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}

body page .text content .elements .element .time textarea {
    width: 6em;
    height: 1em;
    max-height: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: var(--color-text-default);
}

body page .text content .elements .element .infos {
    margin: 0;
    padding: 0;
    padding-left: 2em;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

body page .text content .elements .element .infos .name {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1.5em;
    
    display: flex;
    align-items: start;
    justify-content: start;
}

body page .text content .elements .element .infos .name textarea {
    width: 100%;
    height: 1em;
    max-height: 1em;
    line-height: 1em;
    font-size: 1.5em;
    font-weight: bold;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    color: var(--color-text-default);
}

body page .text content .elements .element .infos .path {
    margin: 0.75em 0 0 0;
    padding: 0;
    width: 100%;
    height: 1em;

    display: flex;
    align-items: start;
    justify-content: start;
}

body page .text content .elements .element .infos .path textarea {
    width: 100%;
    height: 1em;
    max-height: 1em;
    font-size: 0.75em;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    color: var(--color-text-default);
}

body page .text content .elements .element .actions {
    margin: 0 1em;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body page .text content .elements .element .actions .toggle {
    margin: 0;
    padding: 1em;
    background-color: transparent;
    color: var(--color-text-default);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body page .text content .elements .element .actions .toggle::after { /* TODO: center ! */
    margin: 0;
    padding: 0;
    content: '\2807';
    font-size: 2em;
}

body page .text content .elements .element .actions .menu {
    visibility: hidden;
    position: absolute;
    margin: 9em 0 0 7em;
    padding: .5em 0;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

body page .text content .elements .element .actions .menu.active {
    visibility: visible;
}

body page .text content .elements .element .actions .menu button {
    margin: 0;
    padding: 0.25em 1em;
    min-width: fit-content;
    width: 100%;
    background-color: transparent;
    color: var(--color-text-default);
    font-size: 1em;
    text-wrap: nowrap;

    display: flex;
    align-items: center;
    justify-content: start;
    text-align: start;
}

body page .text content .elements .element .actions .menu button:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

body page .text content .elements .element .actions .menu button.delete {
    color: var(--color-text-red);
}

body page .text content .add {
    margin: 0;
    padding: 0;
    width: var(--cards-width);
    box-sizing: border-box;
    border-radius: 10px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='white' stroke-width='1.5' stroke-dasharray='10' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
border-radius: 10px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

body page .text content .add button {
    margin: 0;
    padding: 2em 0;
    width: 100%;
    background-color: transparent;
    color: var(--color-text-default);
    font-size: 1em;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Customs Page */



/* Settings Page */



/* @media */

